.footer {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.75em;
    width: 100%;
    min-height: 4rem;
    margin-top: 2em;
    padding-block: 1em;
    background-color: #D5D4D8;
}

.footer button {
    width: 1.5rem;
    height: 1.375rem;
    background: none;
    text-decoration: none;
    border: none;
    transition: .15s ease;
}

.footer > button > i {
    font-size: 2rem;
    color: #918E9B;
}

.footer button:hover {
    cursor: pointer;
    opacity: .65;
}

.footer button:active {
    opacity: .35;
}